<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Super Codo</title>
    <link rel="shortcut icon" href="./images/header/minilogo.png" type="image/x-icon">
    <link rel="stylesheet" href="./css/headeryfooter.css">
    <link rel="stylesheet" href="./css/productos.css">
    <link rel="stylesheet" href="./css/filtros.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Gabarito:wght@400;700&display=swap" rel="stylesheet">
</head>


<body>
    <header>
    </header>
   
    <main >
        <div id="app">
            <select name="tipo" id="tipo">
                <option  v-for="elemento in tipos" :value="elemento" >{{elemento}}</option>     
              </select> 
              <button class="btn-filtro" v-on:click="filtrarDatos()">Filtrar</button><br>
    
    
              <label for="orden">Ordenar por:</label>
              <input type="radio" name="orden" id="ordenPrecioAsc">Menor precio
              <input type="radio" name="orden" id="ordenPrecioDesc">Mayor precio
              <button v-on:click="ordenarDatos()">Ordenar</button>
    
    
    
            <div class="container">
                <div class="productos">
                    <div class="item" v-for="elemento in datosFinales" :id="elemento.seccion">
                        <img class="img-item" v-bind:src="elemento.imagen" :alt="elemento.descripcion">
                        <h4 class="titulo-item">{{elemento.descripcion}}</h4>
                        <p class="precio-item"><b>Precio: $</b>{{elemento.precio}}</p>
                        <button class="boton-item">Agregar al carrito</button>
                    </div>
                </div>
            </div>
    
        </div>
    </main>    
    <footer>
    </footer>

    <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
    <script src="./js/headeryfooter.js"></script>
    <script src="./js/productos.js"></script>
    <script src="./js/app.js" async></script>
</body>

</html>